@media (min-width: @tablet-width) {
  .advantages__wrapper {
    padding: 0 32px;
  }

  .advantages__item-accent {
    display: flex;
    flex-wrap: wrap;

    &:nth-child(2) {
      justify-content: flex-start;
      flex-direction: row-reverse;
    }
  }

  .advantages_list--benefit {
    display: flex;
    justify-content: space-around;
  }

  .advantages__item-block {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: @desktop-width) {
  .advantages__wrapper {
    margin: auto;
    max-width: 1200px;
  }
}

.advantages__slogan {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.advantages__intro {
  text-align: center;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: @palegrey;
}

.advantages_list--benefit {
  padding: 23px 18px 52px;
  background-color: @white;
}

.advantages__item {
  background-color: @palegrey;
  text-align: center;
}

.advantages__item-accent {
  background-color: @blue;
  color: @white;
  text-align: center;
}

/* .advantages__item-block {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
} */

.advantages__item--benefit {
  background-color: @white;
  color: @black;
  text-align: left;
}

.advantages__item--benefit:nth-child(1) {
  background-image: url("../img/svg/house.svg");
  background-repeat: no-repeat;
}

.advantages__item--benefit:nth-child(2) {
  background-image: url("../img/svg/food.svg");
  background-repeat: no-repeat;
}

.advantages__item--benefit:nth-child(3) {
  background-image: url("../img/svg/gift.svg");
  background-repeat: no-repeat;
}

.advantages__title-accent {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.advantages__number-accent {
  font-weight: 700;
}

.advantages__title--benefit {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.advantages__number {
  color: @darkgrey;
}

.advantages__description {
  color: @darkgrey;
}
