.advantages__wrapper {
  padding: 0 18px 33px;
}

.advantages__slogan {
  margin: 0;
  padding: 23px 10px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.advantages__intro {
  margin: 0;
  padding: 35px 6% 0;
  text-align: center;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: @palegrey;
}

.advantages__item {
  padding: 0 18px 26px;
  text-align: center;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.advantages__number {
  display: block;
  color: @darkgrey;
}

.advantages__reasons-accent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 39px 16px 35px;
}

.advantages__item-accent {
  background-color: @blue;
  color: @white;
  text-align: center;
}

.advantages__item-photo {
  display: block;
  width: 100%;
  min-height: 260px;
  height: auto;
  object-fit: cover;
}

.advantages__title-accent {
  margin: 0;
  padding-bottom: 22px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.advantages__number-accent {
  padding-bottom: 22px;
  font-weight: 700;
}

.advantages__description-accent {
  margin: 0;
  font-weight: 700;
}

.advantages__list--benefit {
  padding: 0;
  margin: 0;
  background-color: @white;
}

.advantages__item--benefit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 11px 18px 22px 68px;
  background-color: @white;
  color: @black;
  text-align: left;
  background-position: 20px 18px;
}

.advantages__item--benefit:nth-child(1) {
  background-image: url("../img/svg/house.svg");
  background-repeat: no-repeat;
}

.advantages__item--benefit:nth-child(2) {
  background-image: url("../img/svg/food.svg");
  background-repeat: no-repeat;
}

.advantages__item--benefit:nth-child(3) {
  background-image: url("../img/svg/gift.svg");
  background-repeat: no-repeat;
}

.advantages__title--benefit {
  padding-top: 18px;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.advantages__description {
  color: @darkgrey;
}

.advantages__item-wrapper {
  padding: 0 18px;
}

.advantages__item-border {
  background-color: @palegrey;
  border-bottom: 1px solid @lightgrey;
}

.advantages__item-border:last-child {
  border: none;
}

br {
  display: none;
}

//Планшет

@media (min-width: @tablet-width) {
  .advantages__wrapper {
    padding: 0 32px;
  }

  .advantages__slogan {
    padding-top: 54px;
    font-size: 21px;
  }

  .advantages__intro {
    padding-top: 31px;
    padding-bottom: 53px;
  }

  .advantages__title {
    width: 124px;
    margin: 0 auto 20px;
    font-size: 21px;
    line-height: 26px;
  }

  .advantages__title-accent {
    width: 150px;
    padding-bottom: 13px;
    font-size: 21px;
  }

  .advantages__number-accent {
    font-weight: 400;
  }

  .advantages__description-accent {
    padding-bottom: 10px;
    font-weight: 400;
  }

  .advantages__reasons-accent {
    width: 196px;
    padding-right: 30px;
    padding-left: 30px;
    grid-area: txt;
  }

  .advantages__item-accent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages__item-accent-wrapper {
    display: grid;
    grid-template-columns: 1fr 512px;
    grid-template-areas: "txt img";
    align-items: stretch;
  }

  .advantages__item-accent-wrapper--second {
    display: grid;
    grid-template-columns: 512px 1fr;
    grid-template-areas: "img txt";
    align-items: stretch;
  }

  .advantages__item-photo {
    grid-area: img;
    width: 100%;
    object-fit: cover;
  }

  .advantages__reasons {
    grid-area: txt;
    padding: 40px 32px 43px;
  }

  .advantages__list--benefit {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
    background-color: @white;
  }

  .advantages__item--benefit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 138px 0 25px;
    text-align: center;
    background-size: 75px;
    background-position: 50% 22%;
  }

  .advantages__title--benefit {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 8px;
  }

  .advantages__number {
    margin-bottom: 25px;
  }

  .advantages__description {
    width: 192px;
  }

  .advantages__description--benefit {
    width: 152px;
  }

  .advantages__item-wrapper {
    display: flex;
    justify-content: space-around;
  }

  .advantages__item-border {
    padding: 37px 0 30px;
    border: none;
  }

  .advantages__description--border {
    width: 180px;
    margin: 0 auto;
  }

  .advantages__description--border2 {
    width: 130px;
  }

  br {
    display: none;
  }
}

//Десктоп

@media (min-width: @desktop-width) {
  .advantages__reasons {
    padding: 47px 52px 56px;
  }

  .advantages__reasons-accent {
    width: 264px;
    padding-right: 70px;
    padding-left: 67px;
  }

  .advantages__item-accent-wrapper {
    grid-template-columns: 1fr 800px;
  }

  .advantages__item-accent-wrapper--second {
    grid-template-columns: 800px 1fr;
  }

  .advantages__wrapper {
    margin: auto;
    max-width: 1200px;
  }

  .advantages__slogan {
    padding: 59px 0 30px;
  }

  .advantages__intro {
    padding: 0 0 42px;
  }

  .advantages__item--benefit {
    padding: 139px 58px 70px;
  }

  .advantages__item-border {
    width: 290px;
    padding: 42px 50px 55px;
  }

  .advantages__description--border {
    width: 292px;
  }

  .advantages__title {
    font-size: 21px;
    line-height: 26px;
  }

  .advantages__description {
    width: 284px;
  }

  br {
    display: block;
  }
}

@media (max-width: @mobile-width-only) {
  .advantages__item-accent:first-child::before {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 37px;
    background-image: url("../img/svg/white_figure.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
  }
}
