.catalog__wrapper {
  margin: 0 auto;
}

.catalog__item {
  display: block;
  border-bottom: 1px solid @lightgrey;
  padding: 24px;

  &:first-child {
    border-top: 1px solid @lightgrey;
  }
}

.catalog__title {
  margin: 0;
  margin-top: 31px;
  margin-bottom: 26px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.catalog__description {
  width: 280px;
  margin: 0 auto 35px;
  text-align: center;
}

.catalog__item-image {
  width: 100%;
  margin: 0;
  margin-bottom: 15px;
  min-height: 280px;
  object-fit: cover;
}

.catalog-item__title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 700;
}

.catalog-item__description {
  margin: 0;
  margin-bottom: 11px;
  text-transform: none;
}

.catalog__like {
  display: flex;
  align-items: center;
}

.catalog__like-button {
  margin-right: 5px;
  background-color: transparent;
  border: none;
}

.catalog__like-counter {
  font-weight: 700;
}

//Планшет

@media (min-width: @tablet-width) {
  .catalog {
    margin-bottom: 58px;
  }

  .catalog__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "img img";
    padding: 0 60px;
  }

  .catalog__item {
    padding: 0;
    border: none;

    &:first-child {
      grid-area: img;
    }

    &:nth-child(3) {
      background-color: @anothergrey;
    }
    background-color: @formgrey;
  }

  .catalog__title {
    margin: 61px auto 31px;
    font-size: 30px;
    line-height: 26px;
  }

  .catalog__description {
    width: 427px;
    margin-bottom: 85px;
    color: @darkgrey;
  }

  .catalog__item-image {
    min-height: 267px;
    margin-bottom: 19px;
  }

  .catalog__item-image--big {
    min-height: 400px;
  }

  .catalog-item__title {
    margin-bottom: 0;
  }

  .catalog-item__wrapper {
    display: flex;
    justify-content: space-around; //?? Почему остается пространство по краям, как при space between
    padding: 0 20px;
  }
}

//Десктоп

@media (min-width: @desktop-width) {
  .catalog__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "img img img";
    padding: 0;
  }

  .catalog__item {
    &:first-child {
      grid-area: img;
    }
  }
}
