.feedback {
  width: 100%;
}

.feedback-wrapper {
  margin: 0 auto;
}

.feedback__fieldset {
  width: 100%;
  height: auto;
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;
}

.feedback__legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.feedback__input {
  width: 280px;
  padding: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: @formgrey;
  text-transform: none;
  border: none;
}

.feedback__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: @formgrey;
}

@media (min-width: @tablet-width) {
  .feedback-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "fir fir" "sec sec" "thr thr" "fou fou" "fiv fiv";
  }

  .feedback__fieldset {
    &:first-child {
      grid-area: fir;
      display: flex;
      flex-direction: column;
    }

    &:nth-child(2) {
      grid-area: fir;
      display: flex;
      flex-direction: column;
    }

    &:nth-child(3) {
      grid-area: sec;
    }
    outline: 1px solid #ffff00;
  }
}
