.main-header {
  position: relative;
  display: flex;
  flex-direction: column;
}

.main-header__logo {
  position: absolute;
  transform: translateX(-50%);
  top: 0;
  left: 50%;
}

.main-header__image {
  position: absolute; //Надпись Седона посреди шапки на главной
  top: 23%;
  left: 50%;
  transform: translateX(-50%);
}

.main-header__intro {
  display: block;
  min-height: 389px; //Высота картинки на главной в мобиле
  background-color: @backgroundblue;
  background-image: url("/img/svg/intro-triangle.svg"), url("../img/back-desktop.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, 50% 20%;
  background-size: auto, cover;
  text-align: center;
}

.main-header__image--pages {
  position: absolute; //Надпись Седона посреди шапки в каталоге
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.main-header__intro--pages {
  min-height: 158px; //Высота картинки в каталоге в мобиле
}

//Планшет

@media (min-width: @tablet-width) {
  .main-header__logo {
    z-index: 5;
  }

  .main-header__intro {
    min-height: 520px; //Высота картинки на главной
  }

  .main-header__image {
    width: 461px; //Надпись Седона посреди шапки
  }

  .main-header__intro--pages {
    min-height: 290px; //Высота картинки в каталоге
  }

  .main-header__image--pages {
    top: 43%;
  }
}

//Десктоп

@media (min-width: @desktop-width) {
  .main-header__intro--pages {
    min-height: 300px;
  }
}
