.main-footer {
  padding-top: 39px;
}

.main-footer__tag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.main-footer__copyright {
  text-align: center;
}

@media (min-width: @tablet-width) {
  .main-footer {
    display: flex;
    justify-content: space-around;
  }
}
