.page {
  height: 100%;
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 21px;
  text-transform: uppercase;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: @white;
  color: @black;
}

@media (min-width: @tablet-width) {
  .page {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .page {
    margin: 0 auto;
    width: 1200px;
  }

  .page__body {
    box-shadow: 0 0 10px -5px @black, 0 0 10px -5px @black;
  }
}
