.search__wrapper {
  padding: 35px 29px 32px;
  text-align: center;
}

.search__title {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.search__description {
  margin: 0;
  padding: 32px 0;
}

.search__map {
  margin: 0 auto;
}

.search__map iframe {
  border: none;
  display: block;
}

.search__button {
  display: block;
  width: 284px;
  height: auto;
  margin: 0 auto;
  padding: 16px 49px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  background-color: @blue;
  color: @white;
  text-decoration: none;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: fade(@white, 30%);
  }
}

@media (min-width: @tablet-width) {
  .search__button {
    width: 458px;
  }
}
