.search {
  text-align: center;
}

.search__button {
  padding: 16px 49px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  background-color: @blue;
  color: @white;
  text-decoration: none;
}
