.site-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1;
}

.site-list__item:nth-child(1) {
  grid-area: fir;
}

.site-list__item:nth-child(2) {
  grid-area: sec;
}

.site-list__item:nth-child(3) {
  grid-area: th;
}

.site-list__item:nth-child(4) {
  grid-area: fr;
}

.site-list__link {
  position: relative;
  display: block;
  padding: 17px 10px 12px 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: @white;
  text-align: center;
  text-decoration: none;
  background-color: @blue;
  border-top: 1px solid fade(@white, 20%);
  border-bottom: 1px solid fade(#010101, 20%);
}

@media (max-width: @mobile-width-only) {
  .site-list {
    position: absolute;
  }

  .site-list__link {
    &:hover {
      background-color: #669ec0;
    }

    &:active,
    &:focus {
      background-color: #5496bd;
      color: fade(@white, 30%);
    }
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    width: 768px;
    display: grid;
    grid-template-columns: 1fr 1fr 185px 1fr 1fr;
    grid-template-areas: "fir sec logo th fr";
  }

  .site-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    background-color: @white;
    color: @black;
    border: none;
    font-size: 14px;
    line-height: 21px;

    &:hover {
      color: @blue;
    }

    &:active,
    &:focus {
      color: fade(@black, 30%);
    }
  }

  .site-list__link--current {
    color: #766357;

    &:hover {
      color: #766357;
    }
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    width: 1200px;
  }
}
