.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .social__list {
    display: flex;
    justify-content: space-around;
  }

  .social__item {
    margin-right: 6px;
  }
}
